# Dépendances
node_modules
/.pnp
.pnp.js
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions

# Tests
/coverage
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/

# Production
/dist
/build
/dist-ssr
*.local

# Fichiers d'environnement
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
# Garder uniquement les exemples
!.env.example

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Outils d'IDE
.vscode/*
!.vscode/extensions.json
!.vscode/settings.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Infrastructure cloud
*.tfstate
*.tfstate.*
*.tfplan
*.tfvars
gcp-sa.json
.terraformrc
terraform.rc
**/terraform/.terraform/
crash.log
.terraform

# Build Docker
docker-compose.override.yml

# Divers
.cache/
.parcel-cache/
.temp/
.tmp/
.eslintcache
.stylelintcache