.backdrop {
  position: fixed;
  z-index: -1;
  display: grid;
  place-items: center;
  width: 100lvw;
  height: 100lvh;
  background: #251769;
  overflow: hidden;
  filter: blur(1.8lvw) saturate(100%) brightness(1);

  .shape {
    position: absolute;
    aspect-ratio: 1/1;
    border-radius: 30% 70% 70% 30% / 30% 30% 70% 70%;
    opacity: 0.4;
  }

  .shape.one {
    width: 40svw;
    background: rgba(187, 88, 217, 0.8); // #bb58d9
    transform: rotate(90deg) translate(45lvh, 5lvw);
    animation: shape-one 7s ease-in-out infinite alternate;
    animation-delay: -2s;
  }

  .shape.two {
    width: 25lvw;
    background: rgba(37, 23, 105, 0.8); // #251769
    transform: rotate(200deg) translate(-35lvh, 12lvw);
    animation: shape-two 4s ease-in-out infinite alternate;
    animation-delay: -1s;
  }

  .shape.three {
    width: 32svw;
    background: rgba(113, 84, 203, 0.8); // #7154cb
    transform: rotate(-165deg) translate(24lvh, -32lvw);
    animation: shape-three 5s ease-in-out infinite alternate;
    animation-delay: -3.5s;
  }

  .shape.four {
    width: 29svw;
    background: rgba(54, 59, 211, 0.8); // #363bd3
    transform: rotate(25deg) translate(-16lvh, -19lvw);
    animation: shape-four 6s ease-in-out infinite alternate;
    animation-delay: -1.8s;
  }

  .shape.five {
    width: 37svw;
    background: rgba(113, 84, 203, 0.6); // #7154cb plus transparent
    transform: rotate(-55deg) translate(30lvh, 26lvw);
    animation: shape-five 5.5s ease-in-out infinite alternate;
    animation-delay: -0.4s;
  }

  .shape.six {
    width: 24svw;
    background: rgba(187, 88, 217, 0.6); // #bb58d9 plus transparent
    transform: rotate(120deg) translate(-40lvh, 46lvw);
    animation: shape-six 9.5s ease-in-out infinite alternate;
    animation-delay: -7.4s;
  }

  .shape.seven {
    width: 31svw;
    background: rgba(37, 23, 105, 0.6); // #251769 plus transparent
    transform: rotate(-55deg) translate(-24lvh, 56lvw);
    animation: shape-seven 15.5s ease-in-out infinite alternate;
    animation-delay: -5.7s;
  }
}

@keyframes shape-one {
  0% { 
    transform: rotate(90deg) translate(45lvh, 0);
    border-radius: 30% 70% 70% 30% / 30% 30% 70% 70%;
  }
  50% {
    border-radius: 58% 42% 75% 25% / 76% 46% 54% 24%;
  }
  100% { 
    transform: rotate(120deg) translate(-20lvh, 0);
    border-radius: 50% 50% 33% 67% / 55% 27% 73% 45%;
  }
}

@keyframes shape-two {
  0% { 
    transform: rotate(200deg) translate(-35lvh, 12lvw);
    border-radius: 50% 50% 33% 67% / 55% 27% 73% 45%;
  }
  50% {
    border-radius: 67% 33% 47% 53% / 37% 20% 80% 63%;
  }
  100% { 
    transform: rotate(240deg) translate(-35lvh, 12lvw);
    border-radius: 39% 61% 47% 53% / 37% 40% 60% 63%;
  }
}

@keyframes shape-three {
  0% { 
    transform: rotate(-165deg) translate(24lvh, -32lvw);
    border-radius: 39% 61% 47% 53% / 37% 40% 60% 63%;
  }
  50% {
    border-radius: 52% 48% 47% 53% / 76% 40% 60% 24%;
  }
  100% { 
    transform: rotate(-100deg) translate(24lvh, -32lvw);
    border-radius: 25% 75% 47% 53% / 37% 40% 60% 63%;
  }
}

@keyframes shape-four {
  0% { 
    transform: rotate(25deg) translate(-16lvh, -19lvw);
    border-radius: 25% 75% 47% 53% / 37% 40% 60% 63%;
  }
  50% {
    border-radius: 42% 58% 60% 40% / 63% 36% 64% 37%;
  }
  100% { 
    transform: rotate(-20deg) translate(-16lvh, -19lvw);
    border-radius: 61% 39% 47% 53% / 37% 40% 60% 63%;
  }
}

@keyframes shape-five {
  0% { 
    transform: rotate(-55deg) translate(30lvh, 26lvw);
    border-radius: 61% 39% 47% 53% / 37% 40% 60% 63%;
  }
  50% {
    border-radius: 42% 58% 60% 40% / 45% 62% 38% 55%;
  }
  100% { 
    transform: rotate(-70deg) translate(30lvh, 26lvw);
    border-radius: 45% 55% 65% 35% / 66% 45% 55% 34%;
  }
}

@keyframes shape-six {
  0% { 
    transform: rotate(120deg) translate(-40lvh, 46lvw);
    border-radius: 45% 55% 65% 35% / 66% 45% 55% 34%;
  }
  50% {
    border-radius: 35% 65% 50% 50% / 55% 45% 55% 45%;
  }
  100% { 
    transform: rotate(95deg) translate(52lvh, 46lvw);
    border-radius: 55% 45% 35% 65% / 40% 60% 40% 60%;
  }
}

@keyframes shape-seven {
  0% { 
    transform: rotate(-55deg) translate(-24lvh, 56lvw);
    border-radius: 55% 45% 35% 65% / 40% 60% 40% 60%;
  }
  50% {
    border-radius: 40% 60% 50% 50% / 45% 55% 45% 55%;
  }
  100% { 
    transform: rotate(-75deg) translate(-19lvh, -39lvw);
    border-radius: 65% 35% 45% 55% / 40% 60% 40% 60%;
  }
}